.container-recipe{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-recipe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

.search{
    display: flex;
    gap: 20px;
}

.choose{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.recipe-result{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.all-recipe{
    border-radius: 20px;
    height: 275px;
    background-color: #EEE2BC;
    padding: 25px;
}

.name-recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-recipe{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.detail-descripe{
    width: 100%;
    
}