* {
    font-family: "Figtree", sans-serif;
}

body {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.logo {
    margin: 5px;
    padding: 10px;
}

.dashboard {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.register {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
